#walrus-showing {
  display: none;
}

.walrus-toggle {
  cursor: pointer;
  color: #0088cc;
}

.walrus-toggle:hover {
  text-decoration: underline;
}

#emu-fadein {
  display: none;
}

.emu-fade {
  cursor: pointer;
  color: #0088cc;
}

.emu-fade:hover {
  text-decoration: underline;
}